{% extends 'base.html' %}
{% block body %}
<header class=" border-bottom">
    <div class="p-2 bg-light d-flex align-items-center" style="min-height: 60px;">
      <div class="container p-0 my-auto">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <svg class="" width="32" height="32"><use xlink:href="#menu"/></svg>
                <span class="visually-hidden">Menu icon</span>
            </button>
          <a href="{% url 'home_page' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto link-dark text-decoration-none me-auto">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            <h3 class="m-0">Mofie</h3>
          </a>
          <!-- <ul class="nav">
            <li>
                <a href="#" class="nav-link">
                    <svg class="bi d-block mx-auto " width="24" height="24"><use xlink:href="#people-circle"/></svg>
                    <span class="d-none d-md-block mt-1">Account</span>
                </a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
</header>
<main class="flex-fill d-flex flex-row py-md-3">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mofie blogs</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          {% include 'nav.html' %}
        </div>
    </div>
    {% block app_body %}
    {% endblock %}
</main>
{% endblock %}