{% extends 'app/app.html' %}
{% block app_body %}
<div class="container">
    <div class="row">
        <div class="card border-0 col-12 col-lg-8">
            <div class="card-header bg-white m-0 p-0 pt-2">
                <div class="card mb-3 w-100 border-0">
                    <div class="d-flex">
                        <img src="{{ post.post_by.image_url }}" alt="" class="rounded-circle" style="height: 80px; width: 80px; ">
                        <div class="flex-fill card-body">
                            <h5 class="card-title">{{ post.post_by.full_name }}</h5>
                            <p class="card-text"><small class="text-muted">{{ post.posted_on }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <h2>{{ post.title | capfirst }}</h2>
            {% if post.image_url != "" %}
            <img src="{{ post.image_url }}" class="card-img-top mx-auto" alt="Post image" style="width: auto; height: 300px;">
            {% endif %}
            <p>{{ post.introduction }}</p>
            {% for section in post.post_sections %}
            <div>
                <h5>{{section.sub_title | capfirst}}</h5>
                {% if section.image_url != "" %}
                <img src="{{ post.image_url }}" class="card-img-top mx-auto" alt="Post image" style="width: auto; max-height: 300px;">
                {% endif %}
                <p>{{ section.content | safe }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-4" style="min-height: 200px;">
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Wed</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Tues</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Mon</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Wed</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Tues</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}