{% extends 'app/app.html' %}
{% block styles %}
<style>
  .imgs{
    width: 50%;
    height: 50%;
    border-radius: 55%;
  }
  .recent{
    margin-top: 20px;
  }
  
</style>
{% endblock %}
{% block app_body %}
<div class="container">
    <div class="row">
        <div class="card border-0 col-12 col-lg-9">
            <div class="card-header bg-white m-0 p-0 pt-2">
                <div class="card w-100 border-0">
                    <div class="d-flex">
                        <img src="{{ post.post_by.image_url }}" alt="" class="rounded-circle" style="height: 80px; width: 80px; ">
                        <div class="flex-fill card-body">
                            <h5 class="card-title">{{ post.post_by.display_name }}</h5>
                            <p class="card-text"><small class="text-muted">{{ post.posted_on }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image_url }}" class="card-img-top mx-auto" alt="Post image" style="width: auto; max-height: 300px;">
            <p>{{ post.introduction }}</p>
            {% for section in post.post_sections %}
            <div>
                <h5>{{section.sub_title}}</h5>
                <p>{{ section.content }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-3" style="min-height: 200px;">
         <div style="height:200px;">
            <img class="imgs" src="https://imgv3.fotor.com/images/blog-cover-image/10-profile-picture-ideas-to-make-you-stand-out.jpg" alt="img" />
            <h4 style="margin-top: 10px;">Name</h4>
         </div>
         <div class = "recent">
            <div class="card">
              <div class="card-body">
              <h3>Recent Posts</h3>
              <div>
                 <!-- BLOG PICTURE -->
              <img class="imgs" src="https://imgv3.fotor.com/images/blog-cover-image/10-profile-picture-ideas-to-make-you-stand-out.jpg" alt="img" />
              <p > Blog about...</p>
              </div><br>
              
            </div> 
       </div>
    </div>
    </div>
</div>
{% endblock %}